<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grand Auto</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
</head>
<body>
<header>
    <div>
        Here is the logo of the site / Тук ще е логото на сайта
        <p><h1>Autoservice</h1> <h2>Grand Auto</h2></p>
    </div>

</header>
<nav>
    <div>
        <ul>
            <li><a th:href="@{/}">HOME</a></li>
            <li><a th:href="@{/}">ABOUT</a></li>
            <li><a th:href="@{/}">SERVICES</a></li>
            <li><a th:href="@{/}">CONTACT</a></li>
            <li><a th:href="@{user/register}">REGISTER</a></li>
        </ul>
    </div>
</nav>

<main>
    <div>LOGIN PAGE</div>
    <form th:action="@{/login}" method="POST">
        <div>
            <label for="username">Username</label>
            <input th:type="text" name="username" id="username" placeholder="ex. John Smith" autofocus tabindex="0">
        </div>
        <div>
            <label for="password">Password</label>
            <input th:type="password" name="password" id="password">
        </div>
        <div>
            <button th:type="submit">Submit</button>
        </div>
    </form>
</main>
<footer>
    <p>Garnd Auto LLC - All rights reserved &copy; 2019 - 2020</p>
</footer>
</body>
</html>