<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{../../css/style.css}">
</head>
<body>
<header>
    <div>
        Here is the logo of the site / Тук ще е логото на сайта
        <p><h1>Autoservice</h1> <h2>Grand Auto</h2></p>
    </div>

    <div>
        <p>ADMIN HOMEPAGE</p>
        <p>MONEY</p>
        <p>Hello, <span sec:authentication="name"></span>!</p>
        <form th:action="@{/logout}">
            <button>LOG OUT</button>
        </form>
    </div>
</header>
<nav>
    <div>
        <ul>
            <li><a th:href="@{/admin/home}">HOME</a></li>
            <li><a th:href="@{/admin/bills/}">BILLS</a></li>
            <li><a th:href="@{/admin/bills/}">NOT PAID</a></li>
            <li><a th:href="@{/admin/bills/add}">ADD BILL</a></li>
            <li><a th:href="@{/admin/bills/edit}">EDIT BILL</a></li>
        </ul>
    </div>
</nav>
<main>
    <section>
        <h2>BILLS PAGE</h2>
        <h3>EDIT ONE OF THE OPEN BILLS</h3>

        <table>
            <tr>
                <th>OPEN DATE</th>
                <th>CLOSE DATE</th>
                <th>BILL NUMBER</th>
                <th>CAR LICENSE PLATE</th>
                <th>MAKE</th>
                <th>MODEL</th>
                <th>YEAR</th>
                <th>CLIENT NUMBER</th>
                <th>CLIENT NAME</th>
                <th>CLIENT PHONE</th>
                <th>AMOUNT</th>
            </tr>
            <tr th:each="bill : ${bills}">
                <td th:text="${bill.startDate}"></td>
                <td th:text="${bill.endDate}"></td>
                <td><a th:href="@{/admin/bills/{billNumber}(billNumber = ${bill.billNumber})}" th:text="${bill.billNumber}"></a></td>
                <td th:text="${bill.car.licensePlate}"></td>
                <td th:text="${bill.car.make}"></td>
                <td th:text="${bill.car.model}"></td>
                <td th:text="${bill.car.year}"></td>
                <td th:text="${bill.car.client.customerNumber}"></td>
                <td th:text="${bill.car.client.name}"></td>
                <td th:text="${bill.car.client.phoneNumber}"></td>
                <td th:text="${bill.totalAmount}"></td>
            </tr>
        </table>

    </section>
</main>
<footer>
    <p>Garnd Auto LLC - All rights reserved &copy; 2019 - 2020</p>
</footer>
</body>
</html>